.banner{
    
    height: 100vh;
    width:100%;
    background-image: url('images/desktop/image-header.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}
.banner-info{

    margin-left: 25%;
    padding-top: 7%;
    font-family: "Fraunces", serif;
    word-spacing: 0.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
    color:white;
}
.arrow-svg{
    margin-left: 35%;
}
.nav{

    display:flex;
    position: fixed;
    width: 1293px;
    margin-top: -15px;
    align-items: center;
    height: 100px;
    list-style-type: none;
    background-color: #3dbeff;

}
.nav-item{
    margin-left: 30px;
    color:white;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
}
#contact{
    background-color: white;
    width:100%;
    height: 40px;
    margin-left: 20px;
    border-radius: 20px;
    display:flex;
    align-items: center;
}
#contact a {
    color:black;
    font-family: "Fraunces", serif;
}
.nav li a{
    text-decoration: none;
}
.logo{
    margin-right: 750px;
}

.transform{
    display: flex;
}
.transform-text{

    width:50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transform-text-inner-div{

    width:60%;
}
.transform-text h1 {
    color:black;
    font-family: "Fraunces", serif;
    font-weight:900 ;
    font-size: 40px;
}
.transform-text p{

    line-height: 1.4em;
    font-family: "Barlow", sans-serif;
    color:#87868e;
}
.learn-more{
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #f6ebb8;
}
.transform-image{

    width:50%;
    height: 80vh;
    background-image: url('images/desktop/image-transform.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.stand-out{
    display: flex;
}
.stand-out-text{

    width:50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stand-out-text-inner-div{

    width:70%;
}
.stand-out-text h1 {
    color:black;
    font-family: "Fraunces", serif;
    font-weight:900 ;
    font-size: 40px;
}
.stand-out-text p{

    line-height: 1.4em;
    font-family: "Barlow", sans-serif;
    color:#87868e;
}
.learn-more{
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #f6ebb8;
}
.stand-out-image{

    width:50%;
    height: 80vh;
    background-image: url('images/desktop/image-stand-out.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.two-images{
    display: flex;
    height:90vh;
    width:100%;
}

.image-1{
    
    width:50%;
    height:90vh;
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.image-2{
    
    width:50%;
    height:90vh;
    background-image: url('images/desktop/image-photography.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.image-1-text {

    width: 50%;
    text-align: center;
    color: #20554b;
    line-height: 1.2em;
    font-family: "Barlow", sans-serif;
    
}
.image-1-text p {
    font-weight: 500;
}
.image-2-text {

    width: 50%;
    text-align: center;
    color:#155672;
    line-height: 1.2em;
    font-family: "Barlow", sans-serif;   
}
.image-2-text p {
    font-weight: 500;
}

.client{
    height:100vh;
    width: 100%;
    background-color: #fffbf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.client-header{

    margin-top: 70px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color:#a8a7a6;
}
.cards{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:25%;
    margin: 1%;
    text-align: center;
    line-height: 1.5em;
    font-family: "Barlow", sans-serif;
    color:#a8a7a6;
    margin-top: 70px;
}
.card h1 {
    color:black;
    font-size: 18px;
    margin-bottom: -10px;
}
.round-image {
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
}

.gallery{
    display: flex;
    width:100%;
    height: 60vh;
}
.gallery-1{
    width:25%;
    height: 60vh;
    background-image: url('images/desktop/image-gallery-milkbottles.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.gallery-2{
    width:25%;
    height: 60vh;
    background-image: url('images/desktop/image-gallery-orange.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.gallery-3{
    width:25%;
    height: 60vh;
    background-image: url('images/desktop/image-gallery-cone.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.gallery-4{
    width:25%;
    height: 60vh;
    background-image: url('images/desktop/image-gallery-sugarcubes.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #90d4c5;
    height: 45vh;
}
.sunnyside{

    font-size: 28px;
    font-weight: 900;
    color: #2b7365;
    font-family: "Barlow", sans-serif;
}

.footer-links{
    width: 20%;
    display: flex;
}
.class-link{
    margin: 18px;
    font-weight: 700;
    font-family: "Barlow", sans-serif;
    color:#478b7c;
}

.footer-icons svg {
    margin:10px;
}